 <div class = "container">
      <div class="row row-sm mg-t-20">
        <div class="col-lg-12">
          <div class="section-wrapper">
            <label class="section-title">CHAT STEERMATE</label>
            <p class="mg-b-20 mg-sm-b-40">Innovation to Travel.</p>
            <form>
              <div class="form-layout form-layout-4">
                <div class="row">
                  <label class="col-sm-4 form-control-label">User: <span class="tx-danger">*</span></label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                      <option value="User1">User1</option>
                      <option value="User2">User2</option>
                      <option value="User3">User3</option>
                    </select>
                  </div>
                </div><!-- row -->
                <div class="form-layout-footer mg-t-30">
                  <button type="submit" (click)="join()" class="btn btn-primary bd-0">Join</button>
                  <button class="btn btn-secondary bd-0"  (click)="leave()">Cancel</button>
                </div><!-- form-layout-footer -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class = "container">
      <div class="row row-sm mg-t-20">
        <div class="col-lg-12">
          <div class="section-wrapper">
              <div class="form-layout form-layout-4">
                <div class="row">
                  <label class="col-sm-4 form-control-label">Message:  <span class="tx-danger">*</span></label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                      <textarea  [(ngModel)]="messageText" (keyup)="$event.keyCode == 13 && sendMessage()" id="textarea" rows="2" class="form-control" placeholder="Enter Your Message"></textarea>
                    </div>
                </div><!-- row -->
                <div class="form-layout-footer mg-t-30">
                  <button type="submit" (click)="sendMessage()" class="btn btn-primary bd-0">Send Message</button>
                </div><!-- form-layout-footer -->
              </div>
           </div>
        </div>
      </div>
    </div>
 <div class="row">
   <div class="well" style="height:200px; padding:15px;">
     <div *ngFor="let item of messageArray">
       <span><strong>{{item.user}} : </strong> {{item.message}}</span>
     </div>
   </div>
 </div>
