<h2>Hello, {{currentUser.firstName}}</h2>

<h2>Your upcoming rides</h2>
    <div *ngFor="let ride of userRides">
        {{ride.from}}
        {{ride.to}}
        {{ride.travel_date}}
        {{ride.travel_time}}
        <button type="submit" (click)="deleteRides(ride)" class="btn btn-success">Cancel Ride</button>
    </div>

<h2>Your finished transactions:</h2>


<h2>Your car</h2>
<div *ngIf="currentCar">
    Brand: {{currentCar.brand}}
    Model: {{currentCar.model}}
    Color: {{currentCar.color}}
    Plate Number: {{currentCar.plate}}
</div>
<div *ngIf="!currentCar">
    <a routerLink="/car">Register Your Car</a>
</div>


<img src='http://localhost:3000/users/profileImg/{{currentUser.profileImgName}}' width="100" height="100">
