<div class = "container">
  <div class="row row-sm mg-t-20">
    <div class="col-lg-12">
      <div class="section-wrapper">
        <label class="section-title">POST SteerShare</label>
        <p class="mg-b-20 mg-sm-b-40">Innovation to Travel.</p>

        <p>confirmbooking works!</p>


<h1>YOUR RIDE DETAIL</h1>

<div class=ridedetails>

  <ul>

 <li><span >Starting point: {{post.from}}</span></li><br><br>
 <li><span>Ending Point: {{post.to}}</span></li><br><br>
 <li><span >Date: {{post.travel_date}}</span></li><br><br>
 <li><span >Time: {{post.travel_time}}</span></li><br><br>
 <li><span> Price: {{post.price}}</span></li><br><br>
 <li><span>Ride Description: {{post.description}}</span></li>

</ul>



    <label for="email">Email: </label>
    <input id="email" type="text" class="form-control"  name="description" placeholder="Enter Email"><br><br>



<button type="submit" (click)="confirmBooking($event)" class="btn btn-success">Confirm Booking</button>


</div>
      </div>
    </div>
  </div>
</div>

  
  <div #paypal></div>



