<p>confirmbooking works!</p>


<h1>YOUR RIDE DETAILS</h1>

<div class=ridedetails>

  <ul>

 <li><span>Starting point: {{post.from}}</span></li><br><br>
 <li><span>Ending Point: {{post.to}}</span></li><br><br>
 <li><span>Date: {{post.travel_date}}</span></li><br><br>
 <li><span>Time: {{post.travel_time}}</span></li><br><br>
 <li><span> Price: {{post.price}}</span></li><br><br>
 <li><span>Ride Description: {{post.description}}</span></li>

</ul>


<div class="form-group">
    <label for="email">Email: </label>
    <input id="email" type="text" class="form-control" [formControl]="emailFormControl" name="description" placeholder="Enter Email"><br><br>
</div>


<button type="submit" (click)="confirmBooking($event)" class="btn btn-success">Confirm Booking</button>


</div>



