<div class = "container">
  <div class="row row-sm mg-t-20">
    <div class="col-lg-12">
      <div class="section-wrapper">
        <div class="manager-wrapper">
          <div class="manager-right">
            <div class="row row-sm">
              <div class="col-sm-6 col-lg-4">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img11.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Isidore Dilao</a></h5>
                    <p>Software Engineer</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img13.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Hamza Macasindil</a></h5>
                    <p>System Administrator</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img12.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Maricel Villalon</a></h5>
                    <p>Product Director</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-4 mg-t-20">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img14.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Dyanne Aceron</a></h5>
                    <p>Software Engineer</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-4 mg-t-20">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img14.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Dyanne Aceron</a></h5>
                    <p>Software Engineer</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-4 mg-t-20">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/img14.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Dyanne Aceron</a></h5>
                    <p>Software Engineer</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">person1@domain.com</a>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>URL:</span>
                    <a href="#">http://thmpxls.me</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- manager-left -->
        </div><!-- manager-wrapper -->
        <div class="card card-experience mg-t-50">
        </div>
        <div class="card card-experience mg-t-50">
        </div>
      </div><!-- row -->
      </div>
    </div>
  </div>
